<div>
    <h1>支付{$money}元</h1>
    <br>
    <input type="button" value="支付" id="pay">
</div>

<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript" charset="utf-8">
    wx.config(
        <php> echo $js->config(array('chooseWXPay'), false); </php>
    ); //这里改成true就可以打开微信js的调试模式
    // wx.ready(function(){
    //     wx.chooseWXPay({
    //         timestamp: {$config["timestamp"]},
    //         nonceStr: '{$config["nonceStr"]}',
    //         package: '{$config["package"]}',
    //         signType: '{$config["signType"]}',
    //         paySign: '{$config["paySign"]}', // 支付签名
    //         success: function (res) {
    //             // 支付成功后的回调函数
    //             window.location.href='{$url}';
    //         }
    //     });
    // });
    $('#pay').click(function(){
        wx.chooseWXPay({
            timestamp: {$config['timestamp']},
        nonceStr: '{$config['nonceStr']}',
            package: '{$config['package']}',
            signType: '{$config['signType']}',
            paySign: '{$config['paySign']}', // 支付签名
            success: function (res) {
                // 支付成功后的回调函数
                window.location.href= "{$url}";
            }
        });
    });
</script>